---
layout: layouts/base.njk
tags: headerNav

eleventyNavigation:
  key: bio
  title: Thomas
  order: 0
---

<article class="bio">
  <p class="big-text">
    Hi! I'm <button class="button-text js-channel-trigger" data-channel="1">Thomas Feeney</button>, a <button class="button-text js-channel-trigger" data-channel="8">full stack developer</button> based in Dublin, Ireland.
  </p>
  <ul class="bio-list"> 
    <li>Professional software engineer with  <button class="button-text js-channel-trigger" data-channel="2">10+ years</button> of experience</li>
    <li>Driven to craft exceptional, reliable software through  <button class="button-text js-channel-trigger" data-channel="2">meticulous testing</button> and  <button class="button-text js-channel-trigger" data-channel="3">industry best practices</button></li>
    <li><button class="button-text js-channel-trigger" data-channel="1">Passionate</button> about tackling complex challenges and delivering impactful technological solutions</li>
    <li>Committed to staying updated on  <button class="button-text js-channel-trigger" data-channel="1">industry advancements</button> and adopting  <button class="button-text js-channel-trigger" data-channel="1">innovative practices</button></li>
  </ul>
</article>
