---
layout: layouts/base.njk
tags: headerNav
eleventyNavigation:
  key: projects
  title: projects
  parent: bio
  order: 1
---
<article>
  <ul class="project-list">
    {% for project in projects.sites -%}
      <li class="project-item">
        <div>
          <a href="{{project.live}}" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/projects/{{project.image}}" alt="{{project.title}} logo" class="project-logo">
          </a>
        </div>
        <div>
          <a href="{{project.live}}" target="_blank" rel="noopener noreferrer" class="project-title">
          {{project.title}}
        </a>
        <p class="project-subtitle">{{project.subtitle | safe}}</p>
        <small class="project-description">{{project.description | safe}}</small>
        </div>
      </li>
    {% endfor %}
  </ul>
</article>
