.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;

  /* title */
  & a {
    font-size: var(--font-size-secondary);
    line-height: 1;
    text-transform: uppercase;
  }

  /* description */
  & small {
    display: block;
    color: var(--text-primary);
    font-size: var(--font-size-primary);
  }
  & .project-item {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 1rem;
    & .project-title {
      font-size: 44px;
    }
    & .project-subtitle {
      font-size: 30px;
      color: white;
    }
    & .project-description {
      font-size: 28px;
    }
  }
 
}
